* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.navBar {
  display: flex;
  background-color: rgba(160, 136, 136, 0.137);
  height: 50px;
  width: 100%;
  align-items: center;
}
.iconShopp {
  font-size: 20px;
  margin: 0 15px 0 25px;
}
.counterNav {
  margin-right: 8px;
  font-size: 20px;
  background-color: rgb(34, 155, 155);
  padding: 10px;
  height: 5px;
  border-radius: 20px;
  width: 35px;
  line-height: 5px;
  text-align: center;
  color: #fff;
}
.container {
  width: 50%;
  align-items: center;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.restBtn {
  outline: none;
  margin-bottom: -3px;
  width: 43%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  cursor: pointer;
}
.iconSyn {
  background-color: rgb(80, 177, 80);
  padding: 9px;
  border-radius: 5px;
  color: #fff;
  font-size: 11px;
}
.content {
  margin-top: 15px;
}
.counter {
  background-color: rgb(247, 192, 41);
  padding: 6px 10px 8px;
  font-weight: bold;
  border-radius: 3px;
}
.plus-minus{
  display: flex;
}

.plusBtn{
  padding: 8px;
  background-color: rgba(66, 63, 63, 0.74);
  border: none;
  margin: 0 1px 0 10px;
  outline: none;
  border-radius: 3px;
  cursor: pointer;

}
.iconPlus {
  color: white;
  font-size: 11px;
}
.minusBtn {
  padding: 8px;
  background-color: rgba(81, 172, 224, 0.89);
  border: none;
  margin: 0 0px 0 3px;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}
.iconMinus {
  color: white;
  font-size: 11px;
}
.counternum {
  background-color: #0044ff;
  border: none;
  color: white;
  padding: 5px 8px 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  margin-right: 28px;
 
}